Fuentes de ejemplo/ASPNETAzure/WindowsApp/Service References/ServiceReference1/ServicioOptativa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioOptativa" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://optativa.azurewebsites.net/ServicioOptativa.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://optativa.azurewebsites.net/ServicioOptativa.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://optativa.azurewebsites.net/ServicioOptativa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioOptativa_Agregar_InputMessage">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="IServicioOptativa_Agregar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioOptativa_Listado_InputMessage">
    <wsdl:part name="parameters" element="tns:Listado" />
  </wsdl:message>
  <wsdl:message name="IServicioOptativa_Listado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioOptativa">
    <wsdl:operation name="Agregar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioOptativa/Agregar" message="tns:IServicioOptativa_Agregar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioOptativa/AgregarResponse" message="tns:IServicioOptativa_Agregar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioOptativa/Listado" message="tns:IServicioOptativa_Listado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioOptativa/ListadoResponse" message="tns:IServicioOptativa_Listado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioOptativa" type="tns:IServicioOptativa">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/IServicioOptativa/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listado">
      <soap:operation soapAction="http://tempuri.org/IServicioOptativa/Listado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioOptativa">
    <wsdl:port name="BasicHttpBinding_IServicioOptativa" binding="tns:BasicHttpBinding_IServicioOptativa">
      <soap:address location="http://optativa.azurewebsites.net/ServicioOptativa.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>