Fuentes de ejemplo/ASPNETAzure/WindowsApp/Service References/ServiceReference1/ServicioOptativa2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://optativa.azurewebsites.net/ServicioOptativa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio" />
  <xs:element name="Agregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicio" minOccurs="0" name="a" nillable="true" type="q1:Alumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicio" minOccurs="0" name="ListadoResult" nillable="true" type="q2:ArrayOfAlumno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>