Fuentes de ejemplo/PracticaWCF/WpfApp/Service References/ServiceReference1/ServicioProducto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1407/ServicioProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Negocio" />
  <xs:element name="Agregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Negocio" minOccurs="0" name="p" nillable="true" type="q1:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Negocio" minOccurs="0" name="ListadoResult" nillable="true" type="q2:ArrayOfProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>