Fuentes de ejemplo/EjercicioWindowsAzure/Backup/Web/Service References/ServiceReference1/Servicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Anuncio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlImagen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anuncio" nillable="true" type="tns:Anuncio" />
  <xs:complexType name="ArrayOfAnuncio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Anuncio" nillable="true" type="tns:Anuncio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnuncio" nillable="true" type="tns:ArrayOfAnuncio" />
</xs:schema>